In [1]:
import pandas as pd
import numpy as np

# https://www.kaggle.com/datasets/leomartinelli/bullying-in-schools/

#Miss_school_no_permission = Mean_school_absence
#Physical_Fighting = Mean_physical_fighting

In [2]:
bs_original = pd.read_csv('bullying_2018.csv', sep= ";")
bs_original

,record,Bullied_on_school_property_in_past_12_months,Bullied_not_on_school_property_in_past_12_months,Cyber_bullied_in_past_12_months,Custom_Age,Sex,Physically_attacked,Physical_fighting,Felt_lonely,Close_friends,Miss_school_no_permission,Other_students_kind_and_helpful,Parents_understand_problems,Most_of_the_time_or_always_felt_lonely,Missed_classes_or_school_without_permission,Were_underweight,Were_overweight,Were_obese
0,1,Yes,Yes,,13 years old,Female,0 times,0 times,Always,2,10 or more days,Never,Always,Yes,Yes,,,
1,2,No,No,No,13 years old,Female,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,,,
2,3,No,No,No,14 years old,Male,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,No,No,No
3,4,No,No,No,16 years old,Male,0 times,2 or 3 times,Never,3 or more,0 days,Sometimes,,No,No,No,No,No
4,5,No,No,No,13 years old,Female,0 times,0 times,Rarely,3 or more,0 days,Most of the time,Most of the time,No,No,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,57091,No,Yes,No,16 years old,Male,0 times,4 or 5 times,Sometimes,3 or more,0 days,Sometimes,Sometimes,No,No,No,Yes,No
56977,57092,No,No,No,16 years old,Male,0 times,0 times,Rarely,1,0 days,Sometimes,Never,No,No,,,
56978,57093,No,No,No,16 years old,Male,0 times,0 times,Sometimes,3 or more,0 days,Rarely,Sometimes,No,No,,,
56979,57094,No,Yes,No,16 years old,Female,0 times,0 times,Sometimes,2,0 days,Most of the time,Rarely,No,No,,,
56980,57095,No,Yes,Yes,16 years old,Female,0 times,0 times,Always,2,1 or 2 days,Rarely,Never,Yes,Yes,No,No,No

### Data Cleaning

In [3]:
bs = pd.read_csv('bullying_2018.csv', sep= ";")

In [4]:
### to make female 1 and male 0

bs['Sex'] = bs['Sex'].replace({'Female': 1, 'Male': 0})
bs['Sex']

0        1
1        1
2        0
3        0
4        1
        ..
56976    0
56977    0
56978    0
56979    1
56980    1
Name: Sex, Length: 56981, dtype: object

In [5]:
### to extract the digits

bs['Custom_Age'] = bs['Custom_Age'].str.extract('(\d+)')
bs['Custom_Age']

0        13
1        13
2        14
3        16
4        13
         ..
56976    16
56977    16
56978    16
56979    16
56980    16
Name: Custom_Age, Length: 56981, dtype: object

In [6]:
### to extract the digits
bs['Physically_attacked'] = bs['Physically_attacked'].str.extract('(\d+)')
bs['Physically_attacked']

0        0
1        0
2        0
3        0
4        0
        ..
56976    0
56977    0
56978    0
56979    0
56980    0
Name: Physically_attacked, Length: 56981, dtype: object

In [7]:
### Extract digit groups or ranges
bs['Physical_fighting'] = bs['Physical_fighting'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')

# Function to process the extracted groups
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]:  # If there is a range
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)

# Apply the processing function to the extracted groups
bs['Physical_fighting'] = bs['Physical_fighting'].apply(process_groups)

# Display the result
print(bs['Physical_fighting'])

0           0
1           0
2           0
3        2, 3
4           0
         ...
56976    4, 5
56977       0
56978       0
56979       0
56980       0
Name: Physical_fighting, Length: 56981, dtype: object

In [8]:
### Extract digit groups or ranges
bs['Close_friends'] = bs['Close_friends'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')

# Function to process the extracted groups
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]:  # If there is a range
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)

# Apply the processing function to the extracted groups
bs['Close_friends'] = bs['Close_friends'].apply(process_groups)

# Display the result
bs['Close_friends'].head()

0    2
1    3
2    3
3    3
4    3
Name: Close_friends, dtype: object

In [9]:
### Extract digit groups or ranges
bs['Miss_school_no_permission'] = bs['Miss_school_no_permission'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')

# Function to process the extracted groups
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]:  # If there is a range
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)

# Apply the processing function to the extracted groups
bs['Miss_school_no_permission'] = bs['Miss_school_no_permission'].apply(process_groups)

# Display the result
print(bs['Miss_school_no_permission'])

0          10
1           0
2           0
3           0
4           0
         ...
56976       0
56977       0
56978       0
56979       0
56980    1, 2
Name: Miss_school_no_permission, Length: 56981, dtype: object

In [10]:
### Get mean
# Extract digit groups or ranges
bs['Physical_fighting'] = bs['Physical_fighting'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')

# Function to calculate the mean of extracted numbers
def calculate_mean(groups):
    numbers = []
    for group in groups:
        if group[1]:  # If there is a range
            numbers.extend(range(int(group[0]), int(group[1]) + 1))
        else:
            numbers.append(int(group[0]))
    return sum(numbers) / len(numbers) if numbers else None

# Calculate mean for each row
bs['Mean_Physical_fighting'] = bs['Physical_fighting'].apply(calculate_mean)

# Display the result
print(bs['Mean_Physical_fighting'])

0        0.0
1        0.0
2        0.0
3        2.5
4        0.0
        ...
56976    4.5
56977    0.0
56978    0.0
56979    0.0
56980    0.0
Name: Mean_Physical_fighting, Length: 56981, dtype: float64

In [11]:
### Get mean
# Extract digit groups or ranges
bs['Miss_school_no_permission'] = bs['Miss_school_no_permission'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')

# Function to calculate the mean of extracted numbers
def calculate_mean(groups):
    numbers = []
    for group in groups:
        if group[1]:  # If there is a range
            numbers.extend(range(int(group[0]), int(group[1]) + 1))
        else:
            numbers.append(int(group[0]))
    return sum(numbers) / len(numbers) if numbers else None

# Calculate mean for each row
bs['Mean_school_absence'] = bs['Miss_school_no_permission'].apply(calculate_mean)

# Display the result
print(bs['Mean_school_absence'])

0        10.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
56976     0.0
56977     0.0
56978     0.0
56979     0.0
56980     1.5
Name: Mean_school_absence, Length: 56981, dtype: float64

In [12]:
bs_n = bs.drop(['Bullied_on_school_property_in_past_12_months', 'Bullied_not_on_school_property_in_past_12_months', 'Cyber_bullied_in_past_12_months', 'Felt_lonely', 'Other_students_kind_and_helpful', 'Parents_understand_problems', 'Most_of_the_time_or_always_felt_lonely', 'Missed_classes_or_school_without_permission', 'Were_underweight', 'Were_overweight', 'Were_obese', 'Physical_fighting', 'Miss_school_no_permission'], axis=1)
bs_n.head(40)

,record,Custom_Age,Sex,Physically_attacked,Close_friends,Mean_Physical_fighting,Mean_school_absence
0,1,13,1,0,2,0.0,10.0
1,2,13,1,0,3,0.0,0.0
2,3,14,0,0,3,0.0,0.0
3,4,16,0,0,3,2.5,0.0
4,5,13,1,0,3,0.0,0.0
5,6,13,0,0,3,1.0,0.0
6,7,14,1,1,3,0.0,0.0
7,8,12,1,0,3,0.0,0.0
8,9,13,0,1,3,2.5,7.5
9,10,14,1,0,0,0.0,0.0
10,11,15,0,0,3,1.0,4.0
11,12,13,1,12,3,1.0,0.0
12,13,13,1,0,3,0.0,0.0
13,14,14,1,0,3,0.0,0.0
14,15,14,1,0,3,0.0,NaN
15,16,13,1,0,3,1.0,0.0
16,17,11,0,0,3,0.0,0.0
17,18,13,0,0,0,0.0,1.5
18,19,14,1,0,3,0.0,0.0
19,20,13,0,0,3,0.0,0.0
20,21,13,1,0,3,0.0,0.0
21,22,14,0,0,2,0.0,0.0
22,23,13,0,0,3,2.5,0.0
23,24,14,0,0,2,2.5,0.0
24,25,13,0,0,3,1.0,NaN
25,26,13,1,0,0,0.0,0.0
26,27,13,0,0,3,1.0,0.0
27,28,14,1,1,3,4.5,4.0
28,29,14,0,0,3,2.5,0.0
29,30,13,0,0,2,0.0,0.0
30,31,13,1,0,3,1.0,NaN
31,32,13,1,0,3,0.0,0.0
32,33,14,1,1,,0.0,4.0
33,34,14,1,0,3,0.0,0.0
34,35,14,1,0,2,0.0,4.0
35,36,14,0,12,3,6.5,4.0
36,37,13,1,0,1,0.0,0.0
37,38,13,0,0,3,8.5,10.0
38,39,14,1,0,3,0.0,NaN
39,40,13,1,0,3,1.0,0.0

In [13]:
bs_n.dtypes

record                      int64
Custom_Age                 object
Sex                        object
Physically_attacked        object
Close_friends              object
Mean_Physical_fighting    float64
Mean_school_absence       float64
dtype: object

In [15]:
#strip white spaces
bs_n['Custom_Age'] = bs_n['Custom_Age'].str.strip()
bs_n['Sex'] = bs_n['Sex'].str.strip()  # THIS CHANGES SEX TO NaN !!??
bs_n['Physically_attacked'] = bs_n['Physically_attacked'].str.strip()
bs_n['Close_friends'] = bs_n['Close_friends'].str.strip()

AttributeError: Can only use .str accessor with string values!

In [18]:
#convert white spaces to NaN
#bs_n['Custom_Age'] = bs_n['Custom_Age'].replace('', np.nan, inplace=True)
#bs_n['Sex'] = bs_n['Sex'].replace('', np.nan, inplace=True)
#bs_n['Physically_attacked'] = bs_n['Physically_attacked'].replace('', np.nan, inplace=True)
#bs_n['Close_friends'] = bs_n['Close_friends'].replace('', np.nan, inplace=True)

In [14]:
#convert white spaces to NaN
bs_n['Custom_Age'].replace(' ', np.nan, inplace=True)
bs_n['Sex'].replace(' ', np.nan, inplace=True)
bs_n['Physically_attacked'].replace(' ', np.nan, inplace=True)
bs_n['Close_friends'].replace(' ', np.nan, inplace=True)

In [20]:
#convert to int/float
bs_n['Custom_Age'] = bs_n['Custom_Age'].astype(float)
bs_n['Sex'] = bs_n['Sex'].astype(float)
bs_n['Physically_attacked'] = bs_n['Physically_attacked'].astype(float)
bs_n['Close_friends'] = bs_n['Close_friends'].astype(float)

ValueError: could not convert string to float: ' '

In [44]:
bs_n.dtypes

record                      int64
Custom_Age                float64
Sex                       float64
Physically_attacked       float64
Close_friends             float64
Mean_Physical_fighting    float64
Mean_school_absence       float64
dtype: object

In [45]:
bs_n.shape

(56981, 7)

In [46]:
for column in bs_n.columns:
    unique_values = bs_n[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in record: [    1     2     3 ... 57093 57094 57095]
Unique values in Custom_Age: [nan]
Unique values in Sex: [nan]
Unique values in Physically_attacked: [nan]
Unique values in Close_friends: [nan]
Unique values in Mean_Physical_fighting: [ 0.   2.5  1.   4.5  6.5  8.5 10.5  nan 12. ]
Unique values in Mean_school_absence: [10.   0.   7.5  4.   nan  1.5]

In [47]:
bs_n.isna().sum()

record                        0
Custom_Age                56981
Sex                       56981
Physically_attacked       56981
Close_friends             56981
Mean_Physical_fighting      268
Mean_school_absence        1864
dtype: int64

In [23]:
bs_n

,record,Custom_Age,Sex,Physically_attacked,Close_friends,Mean_Physical_fighting,Mean_school_absence
0,1,13,1,0,2,0.0,10.0
1,2,13,1,0,3,0.0,0.0
2,3,14,0,0,3,0.0,0.0
3,4,16,0,0,3,2.5,0.0
4,5,13,1,0,3,0.0,0.0
...,...,...,...,...,...,...,...
56976,57091,16,0,0,3,4.5,0.0
56977,57092,16,0,0,1,0.0,0.0
56978,57093,16,0,0,3,0.0,0.0
56979,57094,16,1,0,2,0.0,0.0
56980,57095,16,1,0,2,0.0,1.5